/* Wrap content
======================== */


.wrap {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

/* Square content
========================= */

.square {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 10;

    width: 50%;
    height: 50%;

    background-color: #00a2ff;
    
}

.square--centrum {
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    z-index: 15;

    width: 25%;
    height: 25%;

    background-color: #fab904;
    border-radius: 15%;
}

/* Circle content
======================= */

.circle  {
    z-index: 5; 

    width: 25%;
    height: 25%;

    background-color: #e02c25;
    border-radius: 50%;   
}

/* Modifiers 
========================= */
.circle--top-left {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    
}
.circle--left-bottom {
    position: absolute;
    bottom: 12.5%;
    left: 12.5%; 
     

    background-color: #e02c25;
    border-radius: 50%;
}

.circle--top-right {
    position: absolute;
    top: 12.5%;
    right: 12.5%;
    
}
.circle--right-bottom {
    position: absolute;
    bottom: 12.5%;
    right: 12.5%;   
}

/* Pseudo classes
====================== */

.circle:hover {
    z-index: 15;
    background-color: blue;
    
}
.square:hover {
    z-index: 20;
    background-color:brown;
    
}
